body {
  margin: 0 5vw 0 5vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 4px darkgoldenrod;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

nav > a {
  font-size: x-large;
}

main {
  margin: 0 2vw 0 2vw;
 } 

img {
  max-height: 30vh;
}

.section-block {
  margin: 2vw;
  border-bottom: solid 4px darkgray;
}

#golf-ball {
  margin-bottom: 16px;
}

input {
  width: 30%;
}